.btn-wrapper {
  position: relative;
  .arrow-icon {
    width: 32px;
    height: 32px;
    background: url("../img/icons/arrow.png");

    position: absolute;
    top: 16px;
    left: calc(170px - 42px);
    z-index: 2;
    cursor: pointer;
  }
}

#ingredientsSearch {
  background: var(--blue-color);
}
#equipmentsSearch {
  background: var(--green-color);
}
#utensilsSearch {
  background: var(--orange-color);
}

#ingredientsSearch::placeholder,
#equipmentsSearch::placeholder,
#utensilsSearch::placeholder {
  color: inherit;
}

/* Boutons de recherche extras */
#ingredientsSearch,
#equipmentsSearch,
#utensilsSearch {
  width: 170px;
  padding-left: 15px;
  font-size: inherit;
  border-radius: 5px;
  color: white;

  margin-bottom: 15px;

  position: relative;
}