.btn-wrapper {
  position: relative;
  .arrow-icon {
    width: 32px;
    height: 32px;
    background: url("../img/icons/arrow.png");

    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
    cursor: pointer;

    transition: transform .6s ease-in-out;
    &.rotate {
      transform: rotate(180deg);
    }
  }
}

#ingredientsSearch,
#equipmentsSearch,
#ustensilsSearch {
  border-radius: 5px;
  color: white;
  position: relative;

  height: min-content;
  max-height: 400px;
  width: auto;
  min-width: 170px;
  max-width: 670px;

  transition: width .6s ease-in-out;
}

#ingredientsSearch {
  background: var(--blue-color);
}
#equipmentsSearch {
  background: var(--green-color);
}
#ustensilsSearch {
  background: var(--orange-color);
}

#ingredientsSearch input::placeholder,
#equipmentsSearch input::placeholder,
#ustensilsSearch input::placeholder {
  color: rgba(255, 255, 255, 0.57);
}

/* Boutons de recherche extras */
#ingredientsSearch input,
#equipmentsSearch input,
#ustensilsSearch input {
  background-color: inherit;
  min-width: 170px;
  padding-left: 15px;
  font-size: inherit;
  color: white;

  position: relative;
}

.listContainer {
  padding: 15px 20px;
  list-style-type: none;

  display: flex;
  flex-flow: wrap column;
  height: 310px;
  width: auto;

  overflow-x: auto;
}

.listContainer li {
  cursor: pointer;
  text-transform: capitalize;
  padding: 5px 0;

  display: block;
  width: 236px;
}

// For hidden content or showing by changing aria-hidden false
#ingredientsList[aria-hidden="true"],
#equipmentsList[aria-hidden="true"],
#ustensilsList[aria-hidden="true"] {
  display: none;
}

#ingredientsSearch:has(ul[aria-hidden="false"]),
#equipmentsSearch:has(ul[aria-hidden="false"]),
#ustensilsSearch:has(ul[aria-hidden="false"]) {
  width: -webkit-fill-available;
}